<h1>Buscador de ropa</h1>

<form action="/resultados" method="GET">

    Prenda: <input type="text" name="clothe">
    Color: <input type="text" name="color">
    Temporada: <input type="text" name="season">

    <input type="submit" value="Buscar">

</form>

<hr>

<a href="/">Volver a inicio</a>