<h1>Registro</h1>

<form action="/registro" method="POST">

    Nombre de usuario: <input type="text" name="username">
    Contraseña: <input type="password" name="pwd">

    <input type="submit" value="Registrarme">

</form>

<hr>

<a href="/">Volver a inicio</a>