<div class="container">
    <h1>Detalles de {{title}}</h1>
    <hr>
    <p>{{description}}</p>
    <p>Autor/a: {{author}}</p>

    <hr>

    <a href="/libros/listado" class="btn btn-dark">Volver al listado</a>
</div>